@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - App V6</h1>
    <h1 class="display-4">Welcome - App V5</h1>
    <h1 class="display-4">Welcome - App V4</h1>
    <h1 class="display-4">Welcome - App V3</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
